<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static',
                                    filename=config["FAVICON"]) }}">

    <!-- <link rel="stylesheet" href="{{ url_for('static',
    filename='style.css')}}"> -->
    <link rel="stylesheet" href="{{ url_for('static',
                                 filename='bulma.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',
                                 filename='bulma-tooltip.min.css')}}">

    <!-- stylesheet updates:

         Set max-width to keep the left edge from being cut off.
         Set min-width to keep the box from being overly narrow.

         Set line-height to change the vertical spacing of tables.
         Set border to keep the bulma table line from showing up.
         (Unfortunately, this makes is-bordered useless.)
    -->
    <style>
      [data-tooltip]:not(.is-disabled).has-tooltip-info:before,
      [data-tooltip]:not(.is-loading).has-tooltip-info:before,
      [data-tooltip]:not([disabled]).has-tooltip-info:before {
          max-width: 60%;
          min-width: 20rem;
      }
      .tooltip.is-tooltip-multiline::before {
      }
      .table {
          line-height: 1.3;
      }
      .table td {
          border: 0;
          padding: 0.5em 0.25em;
      }
      .table tr:target {
          background: yellow;
      }
      div:target {
          background: yellow;
      }

      @media print {
          nav, form {
              display: none;
          }
      }
    </style>

    <title>{{config["TITLE"]}}</title>

    <script type="text/javascript">
      window.onbeforeunload = function () { }

      // If there is a tag in the url (e.g., #line418), then 
      // that element will be at the top when the page loads.
      // This code waits for the element to load and then
      // scrolls the page to that the element is a bit below
      // the top. Visually, this looks better.
      function scrolldown() {
        const url = window.location.href;
        const idIndex = url.indexOf('#');
        if (idIndex > -1) {
          window.scrollBy(0, -window.innerHeight/4);
        }
      }
    </script>
  </head>
  <body onload="scrolldown()">
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('root.index')
        }}"><img src="{{ url_for('static', filename='indago-512x512.png')
                      }}"/>
          &nbsp;Indago</a>
        <a role="button" class="navbar-burger" aria-label="menu"
           aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          {% if current_user.is_authenticated %}
            <a class="navbar-item" href="{{ url_for('auth.logout') }}">Logout</a>
            <a class="navbar-item" href="{{ url_for('root.preferences')
            }}">{{ current_user.name }}</a>
          {% else %}
            <a class="navbar-item" href="{{ url_for('auth.register') }}">Register</a>
            <a class="navbar-item" href="{{ url_for('auth.login') }}">Login</a>
          {% endif %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">More</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ url_for('root.privacy') }}">Privacy</a>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        document.querySelector('.navbar-burger').addEventListener("click", toggleNav);
        function toggleNav() {
            var nav = document.querySelector('.navbar-menu')
            if (nav.className == "navbar-menu") {
                nav.className = "navbar-menu is-active";
            } else {
                nav.className = "navbar-menu";
            }
        }
      </script>
    </nav>
    <section class="section">
      <header>
        {% block header %}{% endblock %}
      </header>
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">
            {% for cat, msg in get_flashed_messages(with_categories=True) %}
            {% if cat == 'info' %}
            <div class="notification is-info">{{ msg }}</div>
            {% else %}
            <div class="notification is-danger">{{ msg }}</div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="column is-half is-fullwidth">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div>
        {% if not cookies_check() %}
        <footer class="footer">
          <div id="cookie-consent-container" class="columns is-mobile is-centered">
            <div class="column is-half">
              <div class="notification is-danger">
                <button class="delete" id="cookie-consent"></button>
                Cookies are used to provide this web site's essential
                experience and to save preferences when logged in. Close
                this box to consent to the use of cookies.
              </div>
            </div>
          </div>
          <script>
            document.cookie = "cookie-consent=; Max-Age=-99999999;";
            var fn = function () {
              document.cookie = "cookie-consent=true";
              document.getElementById('cookie-consent-container').style.display = "none";
            };
            document.getElementById('cookie-consent').onclick = fn;
          </script>
        </footer>
        {% endif %}
      </div>
    </section>
  </body>
</html>
