{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form class="form" method="POST" action="/query">
    <input class="input" type="query" name="query" autofocus=""
           placeholder="Indago search" value="{{query_string}}">
    <button class="button is-hidden">Search
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </button>
  </form>
</div>
{{ file_contents|safe }}
{% endblock %}
