{% extends 'base.html' %}

{% block content %}
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<div class="container has-text-centered">
  <form class="form" method="POST" action="/forgot">
    <div class="field">
      <div class="control">
        <input class="input is-medium" type="email" name="email"
               placeholder="Your Email" autofocus="">
      </div>
    </div>
    <div class="h-captcha" data-sitekey="{{ sitekey }}"></div>
    <button class="button is-block is-link is-large
                   is-fullwidth">Send Email<i class="fa fa-sign-in"
                                              aria-hidden="true"></i>
    </button>
  </form>
  <p class="has-text-link">
    <a href="{{url_for('auth.login')}}">Login</a> &nbsp;·&nbsp;
    <a href="{{url_for('auth.register')}}">Register</a>
  </p>
</div>
{% endblock %}

