{% extends 'base.html' %}

{% block content %}
  <div class="container has-text-centered">
    <form method="POST" action="/password">
      {% if not current_user.force_password_change %}
      <div class="field">
        <div class="control">
          <input class="input is-medium" type="password"
                 name="oldpassword" placeholder="Old Password"
                 autofocus="">
        </div>
      </div>
      {% endif %}
      <div class="field">
        <div class="control">
          <input class="input is-medium" type="password"
                 name="newpassword" placeholder="New Password"
                 autofocus="">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-medium" type="password"
                 name="newpassword2" placeholder="New Password"
                 autofocus="">
        </div>
      </div>
      <button class="button is-block is-link is-fullwidth
                     is-medium">Change Password<i class="fa fa-sign-in"
                                                  aria-hidden="true"></i>
      </button>
    </form>
    <p class="has-text-link">
      <a href="{{url_for('auth.register')}}">Register</a> &nbsp;·&nbsp;
      <a href="{{url_for('auth.login')}}">Login</a> &nbsp;·&nbsp;
      <a href="{{url_for('auth.forgot')}}">Forgot Password</a>
    </p>
  </div>
</div>
{% endblock %}

