{% extends 'base.html' %}

{% block content %}
  <section>
    <div class="columns is-mobile is-centered">
    <div class="column is-half">
      <h1 class="title is-2">Preferences</h1>
      <div class="content">
        <form method="POST" action="{{ url_for('auth.password') }}">
          <button class="button is-block is-link">Change Password<i class="fa
          fa-sign-in" aria-hidden="true"></i>
        </form>
      </div>
    </div>
    </div>
  </section>
{% endblock %}
