{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="title is-2">Privacy Policy</h1>
  <div class="content">
    This web site collects personal information in the following ways:
    <ul>
      <li>When you load a web page, information such as the name of the
        page, the time, your search request or requested action, and your IP
        address are stored in a log file.
        This log file is used for debugging the services provided by the web
        site, and for enhancing the web site experience.</li>
      <li>When you create a login, the information you provide, such as your
        email address, name, and password, are stored so that you can login
        again. We also store persistent information about your use of the web
        site that will enhance your use of the web site in the future.
        To protect your privacy, you may choose to use a non-primary
        email address or a pseudonym. Your email address will be used for
        functions related to the operation of this web site (e.g., email
        verification, occasional announcements, or notifications that you
        request). The information you provide is not typically shared with
        third parties and is not used for advertising.</li>
      <li>When you login to this site, cookies are required to provide a
        reasonable experience. Cookies are small files that are placed on your
        computer by this web site. Some cookies are persistent, which means
        they will stay on your computer after you logout of the web site. Other
        cookies will be deleted from your computer when you logout of the web
        site. Cookies do not typically store information that personally
        identifies a user, although this web site will be able to link the
        information stored in a cookie with your login. If you don't want this
        site to store cookies, you may configure your web browser to disable
        the use of cookies, and to delete any cookies that you do not want to
        store. If you do not use cookies, then you will not be able to login
        to this web site.</li>
    </ul>
  </div>
</div>
{% endblock %}
